<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"  
	"http://www.w3.org/TR/html4/strict.dtd"> 
<html>
<head>
  <title>TOBAL <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'style' %>
</head>
<body>
          
<div id="topbar">    
    <h1><a href="/">There Oughta Be A Law<small>.org</small></a></h1>                       
</div>    

<div class="print">
	<%= @content_for_layout %>
</div>

</body>
</html>                            