A suggestion has been made to improve your "<%= @bill.title %>" bill at 
ThereOughtaBeALaw.org.  Please visit your account to approve or reject the 
change.
                             
You can see the bill here :        
<%= "http://www.thereoughtabealaw.org/bills/show/#{@bill.bill_id}" %>

New Bill Text :
<%= word_wrap @bill.billtext %>
        
<%= render :partial => './footer_txt' %>                             
