<div class="options">
<%= link_to '&#171; Back to Bill', :action => 'show', :id => @bill %>
</div>

<h1><%= @bill_version.title %></h1>      

<div class="time small light">      
   	<%= @author.name %> (<%= @author.email %>) 
	suggested this revision <%= time_ago_in_words @bill_version.created_at %> ago :
</div>  
             
<br/>
         
<div id="billtext-diff">
  <%= bill_format differences(@current.billtext, @bill_version.billtext) %>
</div>   

