<div class="article">
	<div class="article-header">
		<div class="date"><%= short_date article.created_at %></div>
		<div class="title"><%= article.title %></div>
	</div>
	<div class="article-content">
		<%= textilize article.content %>
	</div>
</div>