<h1><%= @bill_version.title %></h1>      
         
<div id="billtext">
  <%= bill_format @bill_version.billtext %>
</div> 
 
<h2 class="simpletitle">Comments</h2> 
     No comments<br/>
<br/>                                             