<% for column in Handle.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @handle.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @handle %> |
<%= link_to 'Back', :action => 'list' %>
