<h1>About TOBAL</h1>
               
<h2 class="nicetitle">Programmers and Designers</h2>
Really just me, <a href="http://jointheconversation.org">Scott Chacon</a>.  
<br/>

<h2 class="nicetitle">Credit</h2>
Some of the bill editing interface is inspired by <a href="http://www.37signals.com">37Signal</a>'s excellent <a href="http://www.writeboard.com">Writeboard</a> software. I'm also using the html_diff library from 
the same groups I2 wiki software.  And using <a href="http://www.rubyonrails.org">Ruby on Rails</a> as the framework.  So, it's unlikely that this would have happened without that team.                                                                                   
<br/>

<h2 class="nicetitle">Icons</h2>
I am using FamFamFam's excellent <a href="http://www.famfamfam.com/lab/icons/silk/preview.php">Silk icon</a> set.
<br/>                           
<br/>