<hr/>
ThereOughtaBeALaw.org is a new website where any citizen can work<br/> 
together on laws instead of waiting for the politicians to do it.<br/>
<br/>
To write out your own idea that oughta be a law, visit our website<br/>
at : http://www.thereoughtabealaw.org<br/>
<br/>
This email was sent from the thereoughtabealaw.org website.  To report<br/>
abuse of the invites system, please contact me at schacon@gmail.com.<br/>