----------------------------------------------------------------------
ThereOughtaBeALaw.org is a new website where any citizen can work 
together on laws instead of waiting for the politicians to do it.

To write out your own idea that oughta be a law, visit our website
at : http://www.thereoughtabealaw.org

This email was sent from the thereoughtabealaw.org website.  To report
abuse of the invites system, please contact me at schacon@gmail.com.          