<div class="summary">
	<div class="date"><%= short_date summary.created_at %></div>
	<h2><%= link_to summary.title || 'blank', :action => 'view', :id => summary %></h2>
	<div class="preview-text"><%= textilize summary.content %></div>
	<div class="meta">
		<%= link_to summary.comments.count.to_s + ' comments', :action => 'view', :id => summary %><br/>
		tags: <%= summary.tags.join(', ') %>
	</div>
	
</div>